@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 97%;
    --foreground: 0 0% 10%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --primary: 155 41% 18%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 33% 94%;
    --secondary-foreground: 0 0% 10%;
    --accent: 30 44% 64%;
    --accent-foreground: 0 0% 10%;
    --muted: 220 9% 46%;
    --muted-foreground: 220 9% 40%;
    --destructive: 0 72% 41%;
    --destructive-foreground: 0 0% 100%;
    --border: 35 20% 88%;
    --input: 35 20% 88%;
    --ring: 155 41% 18%;
    --radius: 0.625rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
